// Variáveis
$azul-escuro: #002855;
$azul-royal: #00509d;
$azul-claro: #ebf8ff;
$branco: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  font-family: "Segoe UI", sans-serif;
  background: #f4f7f9;
  scroll-behavior: smooth;
  min-height: 100vh;
}
